.landing {
  text-align: center;
  .desktop-img {
    display: none;
  }
  img {
    width: 100%;
  }
  .intro {
    margin-bottom: 3rem;
    padding: 0 20px;
    h1 {
      margin-bottom: 2rem;
    }
    h5 {
      text-align: start;
      line-height: 1.6;
    }
  }
}

@media screen and (min-width: 700px) {
  .landing {
    background-image: url('../../Images/me-desktop.jpg');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1500px;
    height: 550px;
    img {
      display: none;
    }
    .intro {
      position: absolute;
      top: 15%;
      left: 5%;
      width: 60%;
      h1,
      h5 {
        text-align: start;
      }
      h1 {
        font-size: 32px;
      }
      h5 {
        font-size: 16px;
        width: 400px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .landing {
    margin: 0 auto;
    background-size: 1200px;
    max-width: 1500px;
    // height: 600px;
    img {
      display: none;
    }
    .intro {
      position: relative;
      top: 25%;
      left: 100px;
      width: 600px;
      h1,
      h5 {
        text-align: start;
      }
      h1 {
        font-size: 42px;
      }
      h5 {
        font-size: 16px;
        width: 400px;
      }
    }
  }
}
