.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #000025;
  padding-top: 1rem;

  .columns:nth-child(2) {
    display: flex;
    flex-direction: row;
    p {
      margin-top: 1rem;
      font-size: 0.8rem;
      margin-left: 1rem;
      padding-right: 1rem;
      border-right: 1px solid white;
    }
    p:nth-child(2) {
      border-right: 0;
      padding-right: 0;
    }
  }
  img {
    width: 175px;
  }
  p {
    font-size: 0.8rem;
    width: 60%;
    margin-bottom: 1rem;
  }
  .social-link {
    width: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    .icon {
      margin: 0 1.5rem 1rem;
      color: white;
      transition: 1s;
    }
  }
}

@media screen and (min-width: 700px) {
  .social {
    img {
      position: absolute;
    }
    .columns {
      display: flex;
      flex-direction: row;
      p {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 1rem;
        padding-right: 1rem;
        border-right: 1px solid white;
      }
      p:nth-child(3) {
        border-right: 0;
        padding-right: 0;
      }
      .col-2 {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .social {
    .columns {
      .col-2 {
        h1 {
          margin-top: 5rem;
        }
      }
    }
    .social-link {
      width: 30%;
      .icon:hover {
        color: rgb(255, 0, 255);
        transition: 0.5s;
      }
    }
  }
}
