.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  padding-top: 3rem;
  p {
    font-size: 0.8rem;
    width: 60%;
    margin-bottom: 2rem;
  }
  .social-link {
    width: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    .icon {
      margin: 1.5rem;
      color: white;
    }
  }
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  i:hover {
    color: rgb(255, 0, 255);
  }
}
